html {
  margin-left: .5rem;
  margin-right: .5rem;
}

h1, h2 {
  font-family: "Verdana", "Arial", sans-serif;
}

h2 {
  border-left: 1rem solid rgb(178, 178, 178);
  padding-left: .5rem;
}

dl {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: .2em 1em;
}

dd {
  margin: 0;
}

#email > img {
  max-width: 16rem;
}

.cc-icon {
  max-width: 1em;
  max-height: 1em;
  margin-left: .2em;
}

#lang-selector > ul {
  list-style: none;
  display: inline;
  padding: 0;
}

#lang-selector > ul > li {
  display: inline;
}

#lang-selector .active {
  font-weight: bold;
  color: #333;
}

dl dt, dl dd {
  line-height: 1.5;
}
