h1, h2 {
  font-family: "Verdana", "Arial", sans-serif;
}

h2 {
  border-left: 1rem solid rgb(178, 178, 178);
  padding-left: .5rem;
}

dl {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: .2em 1em;
  margin: 1rem;
}

dd {
  margin: 0;
}
